<div class="col-md-8 col-md-offset-3 ">
    @model Proyecto_Monlic.Models.Contactos

    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @Html.Partial("_Navegation")

    <hr /><hr /><hr />

    <div>
        <h2>Información Completa del Contacto</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Contacto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contacto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Documento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Documento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ciudades.Ciudad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ciudades.Ciudad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TiposDocumentos.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TiposDocumentos.Tipo)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdContacto }, new { @class = "btn btn-success" })
        <a class="btn btn-info" @Html.ActionLink("Volver", "Index")
    </p>
</div>
