<div class="col-md-8 col-md-offset-3 ">

    @model IEnumerable<Proyecto_Monlic.Models.Ciudades>



    @{
        ViewBag.Title = "Ciudades";
    }

    @Html.Partial("_Navegation")

    <br /><br /><br /><br />
    <p>
        <a class="btn btn-info" @Html.ActionLink("Nueva Ciudad", "Create")
    </p>
    <div class="card mb-3">
        <div class="card-header">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped " id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ciudad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdDepartamento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>
                                <th>Acciones    </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ciudad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdDepartamento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    <td>
                                        <form method="post" action='@Url.Action("Estado", "Ciudad",new { id = item.IdCiudad })'>
                                            <input type="submit" value="Estado" class="btn btn-danger" onclick="cam()" />
                                            @Html.ActionLink("Editar", "Edit", new { id = item.IdCiudad }, new { @class = "btn btn-success" })
                                            @Html.ActionLink("Detalles", "Details", new { id = item.IdCiudad }, new { @class = "btn btn-info" })

                                            @Html.AntiForgeryToken()
                                        </form>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
            </div>
            <script>
                function cam() {

                    swal("¿Esta seguro de que desea cambiar de estado este contacto?");
                }
            </script>
        </div>
    </div>
</div>