<div class="slides">

    <div class="slide" id="2">

        <div class="content first-content" style=" width: 950px; padding-top: 0;">

            <div class="col-md-10 col-md-offset-2">
                @model Proyecto_Monlic.Models.MovimientoESA

                @{
                    ViewBag.Title = "Crear Movimiento";
                }

                @Html.Partial("_Navegation")
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>MovimientoESA</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha, "Fecha*", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="date" @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                                   @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Precio, "Precio*", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cantidad, "Cantidad*", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdMaterial, "Material*", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("IdMaterial", null, "---Seleccione un Material---", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdMaterial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdTipoM, "Movimiento*", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("IdTipoM", null, "---Seleccione un Movimiento---", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdTipoM, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdContacto, "Contacto*", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("IdContacto", null, "---Seleccione un Contacto---", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdContacto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <script src="~/Scripts/jquery-1.10.2.js"></script>
                    <div id="result"></div>
                    <input type="button" name="name" value="try me" onclick="DepListQuery()" />


                    <script>


    function DepListQuery() {


        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetData","Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                $('#result').text(response.message);
            },
            failure: function (response) {
                alert("hubo un error del diablo u.u");
            }
        });
    }



                    </script>

                    @*<div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Agregar" class="btn btn-info" />
                            <a class="btn btn-default" @Html.ActionLink("Volver", "Index")
                        </div>
                    </div>
                </div>
                }


            </div>
        </div>
    </div>

</div>