@model Proyecto_Monlic.Models.Entradas_Salidas

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Entradas_Salidas</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cantidad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Materiales.Material)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Materiales.Material)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Movimientos.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Movimientos.Estado)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdE_S }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
