@*<div class="slides">

    <div class="slide" id="2">


        <div class="content first-content" style=" width: 950px; padding-top: 0;">*@

@Html.Partial("_Navegation")

<div class="col-md-7 col-md-offset-4 ">

    @model IEnumerable<Proyecto_Monlic.Models.UnidadMedidas>

    @{
        ViewBag.Title = "Unidad de Medida";
    }


    <br /><br /><br /><br />
    <p>
        <a class="btn btn-info" @Html.ActionLink("Nueva Unidad", "Create")
    </p>
    <div class="card mb-3">
        <div class="card-header">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped " id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Unidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>

                                <th> Acciones</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    <td>
                                        <form method="post" action='@Url.Action("Estado", "UnidadMedidas",new { id = item.IdUnidad })'>
                                            <input type="submit" value="Estado" class="btn btn-danger" onclick="cam()" />
                                            @Html.ActionLink("Editar", "Edit", new { id = item.IdUnidad }, new { @class = "btn btn-success" })

                                            @Html.AntiForgeryToken()
                                        </form>
                                    </td>
                                </tr>
                            }


                        <tbody>
                    </table>


                </div>
            </div>
            <script>
                function cam() {
                    
                    swal("Esta seguro de que desea cambiar de estado");
                }

            </script>


        </div>
    </div>
</div>
