<nav>


    <div class="logo">

        <img src="~/Content/img/Lic.png" />
    </div>

    <ul>
        <li><a @Html.ActionLink("Movimientos", "Index", "MovimientoESAs")</a></li>
        <li><a @Html.ActionLink("Unidad Medida", "Index", "UnidadMedidas")</a></li>
        <li><a @Html.ActionLink("Material", "Index", "Materiales")</a></li>
        <li><a @Html.ActionLink("Contacto", "Index", "Contactos")</a></li>
        <li><a @Html.ActionLink("Ciudad", "Index", "Ciudades")   </a></li>



    </ul>

    MovimientoESAs
</nav>


